
.bleft, .bmid, .bright {
  padding: 15px;
}


.row {
  padding-bottom: 50px;
  margin: 0; 
}


@media (min-width: 768px) {
  .bleft, .bright {
    position: fixed;
    top: 20;
    height: 100vh; 
    overflow-y: auto;
  }

  .bleft {
    width: 25%;
    left: 0; 
  }

  .bmid {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .bright {
    width: 25%;
    right: 0;
  }
}


@media (max-width: 767px) {
  .bleft, .bmid, .bright {
    position: relative;
    width: 100%;
  }

  .bmid {
    margin: 0;
  }
}


.page-enter {
  opacity: 0;
  transform: translateY(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 300ms, transform 300ms;
}


.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 1s ease-out;
  overflow: hidden;
  opacity: 1;
}

.loading-screen.fade-out {
  opacity: 0;
}

.loading-name {
  font-size: 10vw;
  background: linear-gradient(90deg, rgb(255, 255, 255), white);
  -webkit-background-clip: text;
  color: transparent;
  animation: colorChange 3s infinite alternate;
  position: absolute;
  white-space: nowrap;
}

@keyframes colorChange {
  0% {
    color: lightgrey;
  }
  100% {
    color: white;
  }
}

.blocks {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.block {
  width: 14.2857%;
  background: black;
  animation: fadeBlock 3s forwards;
}

@keyframes fadeBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.block-1 {
  animation-delay: 0s;
}
.block-2 {
  animation-delay: 0.5s;
}
.block-3 {
  animation-delay: 1s;
}
.block-4 {
  animation-delay: 1.5s;
}
.block-5 {
  animation-delay: 2s;
}
.block-6 {
  animation-delay: 2.5s;
}
.block-7 {
  animation-delay: 3s;
}


.main-content.hidden {
  opacity: 0;
}

.main-content {
  transition: opacity 1s ease-in;
}
