.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0) !important; 
    backdrop-filter: blur(10px) !important; 
    -webkit-backdrop-filter: blur(10px) !important;  
    color: #D3D9E5 !important;
    z-index: 1000; 
  }
  
  .linka {
    color: #D3D9E5 !important;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    color: #5E81AC !important;
  }
  
