
.bleft, .bmid, .bright {
    padding: 15px;
  }
  

  .row {
    padding-bottom: 50px;
    margin: 0; 
  }
  
  
  @media (min-width: 768px) {
    .bleft, .bright {
      position: fixed;
      top: 20;
      height: 100vh; 
      overflow-y: auto;
    }
  
    .bleft {
      width: 25%;
      left: 0; 
    }
  
    .bmid {
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
    }
  
    .bright {
      width: 25%;
      right: 0; 
    }
  }
  
  
  @media (max-width: 767px) {
    .bleft, .bmid, .bright {
      position: relative;
      width: 100%;
    }
  
    .bmid {
      margin: 0;
    }
  }
  
